<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="Practice3.Properties.Settings.PodcastsPlaylistsConnectionString"
      connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=PodcastsPlaylists;Integrated Security=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="PodcastDBConnectionString" connectionString="metadata=res://*/database.PodcastDBModel.csdl|res://*/database.PodcastDBModel.ssdl|res://*/database.PodcastDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\mssqllocaldb;initial catalog=PodcastsPlaylists;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="PodcastDBContext" connectionString="metadata=res://*/database.PodcastDBModel.csdl|res://*/database.PodcastDBModel.ssdl|res://*/database.PodcastDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\mssqllocaldb;initial catalog=PodcastsPlaylists;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="PodcastsPlaylistsEntities" connectionString="metadata=res://*/database.PodcastsDBModel.csdl|res://*/database.PodcastsDBModel.ssdl|res://*/database.PodcastsDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\mssqllocaldb;initial catalog=PodcastsPlaylists;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="PodcastDBContextNew" connectionString="metadata=res://*/database.PodcastDBModel.csdl|res://*/database.PodcastDBModel.ssdl|res://*/database.PodcastDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\mssqllocaldb;initial catalog=PodcastsPlaylistsNew;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Practice3.Properties.Settings.PodcastsPlaylistsNewConnectionString"
      connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=PodcastsPlaylistsNew;Integrated Security=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>